@import url('./variables.css');

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.brand-logo{
    display: block;
    cursor: pointer;
}

.brand-logo-mobile{
    display: none;
    cursor: pointer;
}

.brand-logo-text{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--white);
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.side-nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 70px;
}

.side-nav{
    width: 80%;
    height: 100vh;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all ease-in 0.3s;
}

.link{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--white);
    cursor: pointer;
    margin-right: 30px;
    transition: all ease-in 0.2s;
}

.link:hover{
   color: goldenrod;
   border-color: goldenrod; 
}

.side-nav-link{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 60px;
    transition: all ease-in 0.2s;
}

.side-nav-link:hover{
    color: goldenrod;  
    border-color: goldenrod; 
}

.active-link{
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
    padding: 5px 15px;
}

.side-nav-active-link{
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
    padding: 5px 15px;
}

.banner{
    width: 100vw;
    height: 100vh;
    background-image: url('../app/assets/banner/main-banner.jpg');
    background-color: var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
}

.banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.banner-image{
    width: 100%;
    height: 500px;
    padding: 30px;
}

.banner-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.content-image{
    width: 400px;
    height: 400px;
}

.under-process-text{
    font-size: 30px;
    letter-spacing: 0.3px;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    line-height: 32px;
}

.hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
    cursor: pointer;
}

.side-nav-hamburger{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    height: 30px;
    width: 40px;
}

.hamburger div{
    background-color: var(--white);
    height: 4px;
    width: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

.side-nav-hamburger div{
    background-color: var(--white);
    height: 1px;
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .hamburger{
        display: flex;
    }
    
    .links{
        display: none;
    }

    .brand-logo{
        display: none;
    }
    
    .brand-logo-mobile{
        display: block;
    }

    .banner-content{
        width: 100%;
        padding: 0px 0px;
        margin: 0 auto;
    }

    .content-image{
        width: 80%;
        height: 400px;
    }
}